<style>
  #InviteMenu > .item {
    min-width: 50%;
  }

  #InviteMenu > .item > span {
    margin: auto;
  }
</style>

<div id="InviteMenu" class="ui blue secondary pointing menu">
  <a href="<%= new_invite_path %>" class="active item">
    <span>Create an Invite</span>
  </a>
  <a href="<%= upcoming_invites_path %>" class="item">
    <span>Your Invites</span>
  </a>
</div>