<div id="InviteResponses" class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    <span style="color: #444"><i class="users icon"></i> Who's coming</span>
  </div>
  <div class="content">
    <div id="InviteResponsesList" class="ui list">
      <% unless responses.present? %>
        <div class="item">
          <div style="text-align: center" class="ui grey fluid message">Nobody yet, share the invite!</div>
        </div>
      <% end %>
      <% responses.each do |response| %>
        <div class="item">
          <img src="<%= response.user.picture_url %>" class="ui avatar image" />
          <span><%= response.user.full_name %></span>
          <% if response.response == 'declined' %>
            <div class="ui lightgrey horizontal label">Declined</div>
          <% elsif response.response == 'accepted' %>
            <div class="ui green horizontal label">Accepted</div>
          <% else %>
            <div class="ui basic horizontal label">Seen</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#InviteResponses').accordion();
</script>
