<%= render 'invites/invite_tabs' %>

<style>
  #NewInvite > .inviteField {
    margin-bottom: .75rem;
  }

  #NewInvite > .inviteField > input {
    width: 17.6rem;
  }

  #NewInvite > .inviteField > .label {
    width: 5rem;
  }

  #NewInvite > .inviteField > .dropdown {
    width: 17.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #NewInvite > .inviteSubmit {
    width: 100%;
  }
</style>
<div id="NewInvite" class="ui form">
  <!-- What -->
  <div class="ui labeled input inviteField">
    <div class="ui label">What</div>
    <select class="ui dropdown">
      <option value=''>Select all that apply</option>
      <% FormFieldData::ACTIVITIES.each do |activity| %>
        <option value="<%= activity %>"><%= activity %></option>
      <% end %>
    </select>
  </div>

  <!-- Details -->
  <div class="ui labeled input inviteField">
    <div class="ui label">Details</div>
    <input type="text" placeholder="What details">
  </div>

  <!-- Where -->
  <div class="ui labeled input inviteField">
    <div class="ui label">Where</div>
    <input type="text" placeholder="Location">
  </div>

  <!-- When -->
  <div class="ui labeled input inviteField">
    <div class="ui label">When</div>
    <input type="text" placeholder="e.g. Friday at 8pm, anytime, etc">
  </div>

  <!-- Submit -->
  <button class="ui positive inviteSubmit button">Create</button>
</div>

<script>
  $('select.dropdown').dropdown();
</script>