<%= render 'invites/invite_tabs' %>


<div class="ui styled accordion">
  
  <div class="title">
    <i class="dropdown icon"></i>
    Level 2C
  </div>
  <div class="content">
   <%= render 'invites/response_list' %>
  </div>
</div>

<script type="text/javascript">
  $('.ui.accordion').accordion();
</script>


