<style>
  #ActivityList .entry {
    display: flex;
    padding-bottom: .5rem;
    margin-bottom: .25rem;
  }
</style>


<div id="ActivityList">
  <% unless @activities.present? %>
    <div style="text-align: center" class="ui lightgrey message">There are no activities yet! <br />Go Thryve together!</div>
  <% end %>
  <% @activities.each do |activity| %>
    <div class="entry">
      <img class="ui avatar image" src="<%= activity.picture_url_override || activity.user.picture_url %>" style="margin-top: 5px">
      <p>
        <%= activity.text %><br />
        <span style="color: grey"><%= activity.time %>. <%= activity.location %></span>
      </p>
    </div>
  <% end %>
</div>


