<div class="entry">
  <img class="ui avatar image" src="/assets/israel.png">
  <p>
    Israel went running with Jeanine and Ashley!<br />
    <span style="color: grey">On 12/2/2016 near Schenely Park</span>
  </p>
</div>