<div class="ui segment">
  <div class="ui equal width center aligned grid">
    <div class="centered column light-grey">
      <span class="detail-day">Wednesday</span>
    </div> 
    <div class="centered column">
      <span class="detail-time">5 AM</span>
    </div>
  </div>
</div>
