<style type="text/css">
  .event-time {
  	display: inline-block;
  	font-size: 0.8em;
  	font-weight: bold;
  	margin-left: 20px;
  }
</style>
<div class="ui segment">
  <div class="basic label">
    <span>Event Name</span>
    <div class="event-time">5 AM WED</div>
  </div>
  <div class="description">
    <span>This is an event I invited someone to. This is a description I wrote for it.</span>
  </div>
</div>