<div class="ui segment">
  <a class="ui ribbon label">GOAL ONE</a>
  <a class="ui button super-mini">LIKE</a>
  <a class="ui button super-mini">ENCOURAGE</a>
  <div class="goal-description">I want to be able to run a marathon by the end of the year and place above 50.</div>
  <div class="goal-details ui equal width center aligned padded grid">
    <div class="detail-item centered column">
      <span class="detail-title">Likes</span>
      <span class="likes">55</span>
    </div>
    <div class="detail-item centered column">
      <span class="detail-title">Encouragements</span>
      <span class="encourages">1000</span>
    </div>
    <div class="detail-item centered column">
      <span class="detail-title">Frequency</span>
      <span class="frequency">Every day</span>
    </div>
  </div>
</div>