<style>
  #UserProfileImage {
    text-align: center;
  }

  #UserProfileImage .image {
    display: inline;
    width: 3rem;
  }

  #UserProfileImage .text {
    font-weight: bold;
    font-size: 1.2em;
  }
</style>

<div id="UserProfileImage">
  <img src="/assets/israel.png"
       class="ui medium circular image" />
  <p class="text">Israel</p>
</div>
<div class="ui top attached tabular menu">
  <div class="item">Activity</div>
  <div class="item">Goals</div>
  <div class="item">Interests</div>
  <div class="item">Availability</div>
</div>