<style>
  #Friends .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .75rem;
  }

  #Friends .image {
    width: 2.5rem;
    height: 2.5rem;
  }

  #Friends .name {
    font-size: 1.3em;
  }
</style>

<div id="Friends" class="ui segment">
<% 10.times do %>
  <div class="container">
    <img class="ui avatar image" src="/assets/israel.png">
    <span class="name">Israel Madueme</span>
    <button class="ui icon button">
      <i class="chevron right icon"></i>
    </button>
  </div>
<% end %>
</div>