<style>
  #Friends .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .75rem;
  }

  #Friends .image {
    width: 2.5rem;
    height: 2.5rem;
  }

  #Friends .name {
    font-size: 1.3em;
  }
</style>

<div id="Friends" class="ui segment">
<% @friends.each do |friend| %>
  <div class="container">
    <img class="ui avatar image" src="<%= friend.picture_url %>">
    <span class="name"><%= friend.full_name %></span>
    <a class="ui icon button" href="<%= user_activity_path(friend) %>">
      <i class="chevron right icon"></i>
    </a>
  </div>
<% end %>
</div>