<%= render 'users/profile_tabs' %>
<style>
  #NewGoal > .info {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  #GoalList .goal > .description {
    padding-top: .75rem;
    margin-bottom: .75rem;
  }

  #GoalList .goal > .goalButtons {
    display: flex;
    justify-content: space-between;
  }

  #GoalList .goal > .goalButtons > button {
    width: 30%;
  }

  #GoalList .encouragedCount {
    color: #2185D0;
  }

  #GoalList .message {
    text-align: center;
  }
</style>

<div id="GoalList">
  <div class="ui segment goal">
    <a class="ui ribbon label">Goal started Dec 3, 2016</a>
    <div class="description">I want to be able to run a marathon by the end of the year and place above 50.</div>
    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        <span class="encouragedCount">55 people have encouraged you!</span>
      </div>
      <div class="content">
        <p>
          <img class="ui avatar image" src="/assets/israel.png" />
          <span>You can do it! Keep going!</span>
        </p>
        <p>
          <img class="ui avatar image" src="/assets/Christabelle.jpg" />
          <span>You can do it! Keep going! The sky is the limit man!!</span>
        </p>
        <p>
          <img class="ui avatar image" src="/assets/fish.png" />
          <span>I believe in you! You can totally do this bro!</span>
        </p>
      </div>
    </div>
    <div style="margin-top: .75rem"></div>
    <div class="goalButtons">
      <button class="ui green button">Did it!</button>
      <button class="ui lightgrey button">Tried</button>
      <button class="ui red button">Didn't</button>
    </div>
    <div class="ui grey message">Completed this goal on Jan 1 2017!</div>
    <div class="ui fluid action input">
      <input type="text" placeholder="Encourage Israel!">
      <button class="ui green button">Encourage</button>
    </div>
  </div>
</div>


<div id="NewGoal" class="ui segment">
  <div class="info">
    Create a New Goal
  </div>
  <div class="ui form">
    <div class="field">
      <textarea placeholder="What's your goal?" rows="2"></textarea>
    </div>
  </div>
  <p style="color: grey;">
    <i class="grey info circle icon"></i>
    Your friends will be able to see your goals and encourage you!
    Don't let them down!
  </p>
  <button class="ui positive fluid button">Create</button>
</div>

<script>
  $('select.dropdown').dropdown();
  $('.ui.accordion').accordion();
</script>

