<style>
  #MainMenu .item {
    flex-grow: 1;
  }
</style>

<div id="MainMenu" class="ui pointing menu">
  <%= link_to 'Newsfeed', user_newsfeed_path, class: 'item active' %>
  <%= link_to 'Myself', user_activity_path(@current_user), class: 'item' %>
  <%= link_to 'Friends', user_friends_path, class: 'item' %>
  <%= link_to 'Invite', new_invite_path, class: 'item' %>
</div>